@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body
{
    font-family: 'Poppins', sans-serif;
}

.menu-open-button > div > div
{
    transition: all ease-in-out 0.2s;
    transform-origin: center;
    position: relative;
    opacity: 1;
}

.logo-animation {
    background-size: 300%;
    animation: logo-animation 2s linear infinite;
}

.menu-open-button-active > div > div:nth-child(1)
{
    top: 0.5rem;
    transform: rotate(45deg);
}

.menu-open-button-active > div > div:nth-child(2)
{
    opacity: 0;
}

.menu-open-button-active > div > div:nth-child(3)
{
    bottom: 0.5rem;
    transform: rotate(-45deg);
}

.menu-open
{
    display: flex !important;
}

@keyframes logo-animation {
    0% {
        background-position-x: 0px;
    }
    50% {
        background-position-x: 100%;
    }
    100% {
        background-position-x: 0px;
    }
}

