<div>
    <div class="{% if center == true %} text-center {% endif %} text-white text-4xl">
        <span class="text-cyan-400 font-extrabold">Pixel</span><span class="font-extralight">Sharing</span>
    </div>
    <div class="{% if center == true %} text-center {% endif %} font-normal text-sm">
        <span class="opacity-50">Created by</span>
        <span class="font-bold text-neutral-100">EMch43l</span>
    </div>
</div>