<div>
    <div class="{% if center == true %} text-center {% endif %} text-white text-2xl md:text-4xl">
        <span class="bg-gradient-to-r from-cyan-400 to-blue-500 bg-clip-text text-transparent font-extrabold">Pixel</span><span class="font-extralight">Sharing</span>
    </div>
    <div class="{% if center == true %} text-center {% endif %} font-normal text-xs md:text-sm">
        <span class="opacity-50">Created by</span>
        <span class="font-bold text-neutral-100">EMch43l</span>
    </div>
</div>